<tr>
  <% @columns.each do |c| %>
    <% css_class = (c == params[:sort]) ? "current #{params[:direction]}" : nil %>
    <% direction = (c == params[:sort] && params[:direction] == "asc") ? "desc" : "asc" %>
    <th>
      <%= link_to c.humanize, params.merge(:sort => c, :direction => direction, :page => nil), {class: css_class, remote: true} %>
      <% if c == params[:sort] %><span class="caret <%= direction %>"></span><% end %>
    </th>
  <% end %>
  <th class='actions'>&nbsp;</th>
</tr>