<h1>Users</h1>

Per Page: <%= Settings.per_page %>
<div>
  <%= link_to "Add User", new_admin_user_path, class: "btn btn-primary" %>
</div>

<%= render partial: 'includes/sortable_table', locals: {items: @users} %>